Parser/xsd/client_items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="client_items">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="client_item" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="client_item">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="desc" type="xs:string" />
				<xs:element name="desc_long" type="xs:string" />
				<xs:element name="desc_proc" type="xs:string" />
				<xs:element name="desc_craftman" type="xs:string" />
				<xs:element name="armor_type" type="xs:string" />
				<xs:element name="weapon_type" type="xs:string" />
				<xs:element name="item_type" type="xs:string" />
				<xs:element name="category" type="xs:string" />
				<xs:element name="equip_type" type="xs:integer" />
				<xs:element name="skill_to_learn" type="xs:string" />
				<xs:element name="summon_housing_object" type="xs:string" />
				<xs:element name="abyss_item" type="xs:string" />
				<xs:element name="abyss_item_count" type="xs:int" />
				<xs:element name="abyss_point" type="xs:int" />
				<xs:element name="activate_target" type="xs:string" />
				<xs:element name="activate_target_race" type="xs:string" />
				<xs:element name="activation_count" type="xs:int" />
				<xs:element name="activation_level" type="xs:int" />
				<xs:element name="activation_mode" type="xs:string" />
				<xs:element name="activation_skill" type="xs:string" />
				<xs:element name="agi" type="xs:int" />
				<xs:element name="ammo_bone" type="xs:string" />
				<xs:element name="ammo_fx" type="xs:string" />
				<xs:element name="ammo_speed" type="xs:int" />
				<xs:element name="area_to_use" type="xs:string" />
				<xs:element name="assassin" type="xs:int" />
				<xs:element name="assassin_max" type="xs:int" />
				<xs:element name="attack_delay" type="xs:int" />
				<xs:element name="attack_gap" type="xs:float" />
				<xs:element name="attack_range" type="xs:float" />
				<xs:element name="attack_type" type="xs:string" />
				<xs:element name="basic_length" type="xs:float" />
				<xs:element name="blade_fx" type="xs:int" />
				<xs:element name="block" type="xs:int" />
				<xs:element name="bonus_apply" type="xs:string" />
				<xs:element name="bonus_attr1" type="xs:string" />
				<xs:element name="bonus_attr10" type="xs:string" />
				<xs:element name="bonus_attr11" type="xs:string" />
				<xs:element name="bonus_attr12" type="xs:string" />
				<xs:element name="bonus_attr2" type="xs:string" />
				<xs:element name="bonus_attr3" type="xs:string" />
				<xs:element name="bonus_attr4" type="xs:string" />
				<xs:element name="bonus_attr5" type="xs:string" />
				<xs:element name="bonus_attr6" type="xs:string" />
				<xs:element name="bonus_attr7" type="xs:string" />
				<xs:element name="bonus_attr8" type="xs:string" />
				<xs:element name="bonus_attr9" type="xs:string" />
				<xs:element name="breakable" type="xs:boolean" />
				<xs:element name="breakdown" type="xs:int" />
				<xs:element name="can_composite_weapon" type="xs:boolean" />
				<xs:element name="can_deposit_to_account_warehouse" type="xs:boolean" />
				<xs:element name="can_deposit_to_character_warehouse"
					type="xs:boolean" />
				<xs:element name="can_deposit_to_guild_warehouse" type="xs:boolean" />
				<xs:element name="can_dye" type="xs:int" />
				<xs:element name="can_exchange" type="xs:boolean" />
				<xs:element name="can_proc_enchant" type="xs:boolean" />
				<xs:element name="can_sell_to_npc" type="xs:boolean" />
				<xs:element name="can_split" type="xs:boolean" />
				<xs:element name="cannot_changeskin" type="xs:int" />
				<xs:element name="cash_available_minute" type="xs:int" />
				<xs:element name="cash_item" type="xs:int" />
				<xs:element name="cash_social" type="xs:int" />
				<xs:element name="cash_title" type="xs:int" />
				<xs:element name="casting_delay" type="xs:int" />
				<xs:element name="chanter" type="xs:int" />
				<xs:element name="chanter_max" type="xs:int" />
				<xs:element name="cleric" type="xs:int" />
				<xs:element name="cleric_max" type="xs:int" />
				<xs:element name="combat_equip_bone" type="xs:string" />
				<xs:element name="combat_item_fx" type="xs:string" />
				<xs:element name="combineskill" type="xs:string" />
				<xs:element name="confirm_to_delete_cash_item" type="xs:string" />
				<xs:element name="cosmetic_name" type="xs:string" />
				<xs:element name="coupon_item" type="xs:string" />
				<xs:element name="coupon_item_count" type="xs:int" />
				<xs:element name="craft_recipe_info" type="xs:string" />
				<xs:element name="critical" type="xs:int" />
				<xs:element name="damage_reduce" type="xs:int" />
				<xs:element name="default_color_f" type="xs:string" />
				<xs:element name="default_color_m" type="xs:string" />
				<xs:element name="difficulty" type="xs:string" />
				<xs:element name="disassembly_item" type="xs:int" />
				<xs:element name="dmg_decal" type="xs:int" />
				<xs:element name="doc_bg" type="xs:string" />
				<xs:element name="dodge" type="xs:int" />
				<xs:element name="dyeing_color" type="xs:string" />
				<xs:element name="elementalist" type="xs:int" />
				<xs:element name="elementalist_max" type="xs:int" />
				<xs:element name="equip_bone" type="xs:string" />
				<xs:element name="equipment_slots" type="xs:string" />
				<xs:element name="expire_time" type="xs:int" />
				<xs:element name="extra_currency_item" type="xs:string" />
				<xs:element name="extra_currency_item_count" type="xs:int" />
				<xs:element name="extract_skin_type" type="xs:int" />
				<xs:element name="fighter" type="xs:int" />
				<xs:element name="fighter_max" type="xs:int" />
				<xs:element name="fx_mesh" type="xs:int" />
				<xs:element name="gain_level1" type="xs:int" />
				<xs:element name="gain_level2" type="xs:int" />
				<xs:element name="gain_skill1" type="xs:string" />
				<xs:element name="gain_skill2" type="xs:string" />
				<xs:element name="gathering_point" type="xs:int" />
				<xs:element name="gender_permitted" type="xs:string" />
				<xs:element name="hit_accuracy" type="xs:int" />
				<xs:element name="hit_count" type="xs:int" />
				<xs:element name="icon_name" type="xs:string" />
				<xs:element name="inven_warehouse_max_extendlevel" type="xs:int" />
				<xs:element name="item_drop_permitted" type="xs:boolean" />
				<xs:element name="item_fx" type="xs:string" />
				<xs:element name="knight" type="xs:int" />
				<xs:element name="knight_max" type="xs:int" />
				<xs:element name="kno" type="xs:int" />
				<xs:element name="level" type="xs:byte" />
				<xs:element name="lore" type="xs:string" />
				<xs:element name="mage" type="xs:int" />
				<xs:element name="mage_max" type="xs:int" />
				<xs:element name="magical_hit_accuracy" type="xs:int" />
				<xs:element name="magical_resist" type="xs:int" />
				<xs:element name="magical_skill_boost" type="xs:int" />
				<xs:element name="material" type="xs:string" />
				<xs:element name="max_damage" type="xs:int" />
				<xs:element name="max_stack_count" type="xs:int" />
				<xs:element name="mesh" type="xs:string" />
				<xs:element name="mesh_change" type="xs:int" />
				<xs:element name="min_damage" type="xs:int" />
				<xs:element name="motion_name" type="xs:string" />
				<xs:element name="no_enchant" type="xs:string" />
				<xs:element name="option_slot_bonus" type="xs:int" />
				<xs:element name="package_permitted" type="xs:int" />
				<xs:element name="parry" type="xs:int" />
				<xs:element name="physical_defend" type="xs:int" />
				<xs:element name="price" type="xs:int" />
				<xs:element name="priest" type="xs:int" />
				<xs:element name="priest_max" type="xs:int" />
				<xs:element name="proc_enchant_effect_occur_left_prob"
					type="xs:int" />
				<xs:element name="proc_enchant_effect_occur_prob" type="xs:int" />
				<xs:element name="proc_enchant_skill" type="xs:string" />
				<xs:element name="proc_enchant_skill_level" type="xs:int" />
				<xs:element name="proc_fx" type="xs:string" />
				<xs:element name="quality" type="xs:string" />
				<xs:element name="quest" type="xs:int" />
				<xs:element name="ranger" type="xs:int" />
				<xs:element name="ranger_max" type="xs:int" />
				<xs:element name="reduce_max" type="xs:int" />
				<xs:element name="remove_when_logout" type="xs:string" />
				<xs:element name="require_shard" type="xs:int" />
				<xs:element name="require_skill1" type="xs:string" />
				<xs:element name="require_skill1_lv" type="xs:int" />
				<xs:element name="require_skill2" type="xs:string" />
				<xs:element name="require_skill2_lv" type="xs:int" />
				<xs:element name="return_alias" type="xs:string" />
				<xs:element name="return_worldid" type="xs:int" />
				<xs:element name="scale" type="xs:float" />
				<xs:element name="scout" type="xs:int" />
				<xs:element name="scout_max" type="xs:int" />
				<xs:element name="soul_bind" type="xs:boolean" />
				<xs:element name="stat_enchant_type" type="xs:string" />
				<xs:element name="stat_enchant_value" type="xs:int" />
				<xs:element name="stigma_type" type="xs:string" />
				<xs:element name="str" type="xs:int" />
				<xs:element name="sub_enchant_material_effect" type="xs:int" />
				<xs:element name="sub_enchant_material_effect_type" type="xs:string" />
				<xs:element name="tag" type="xs:string" />
				<xs:element name="temporary_exchange_time" type="xs:int" />
				<xs:element name="tool_type" type="xs:string" />
				<xs:element name="toy_pet_name" type="xs:string" />
				<xs:element name="trail_tex" type="xs:string" />
				<xs:element name="ui_sound_type" type="xs:string" />
				<xs:element name="unit_sell_count" type="xs:int" />
				<xs:element name="use_delay" type="xs:int" />
				<xs:element name="use_delay_type_id" type="xs:int" />
				<xs:element name="use_fx" type="xs:string" />
				<xs:element name="use_fx_bone" type="xs:string" />
				<xs:element name="visual_slot" type="xs:string" />
				<xs:element name="warrior" type="xs:int" />
				<xs:element name="warrior_max" type="xs:int" />
				<xs:element name="weapon_boost_value" type="xs:int" />
				<xs:element name="wizard" type="xs:int" />
				<xs:element name="wizard_max" type="xs:int" />
				<xs:element name="func_pet_name" type="xs:string" />
				<xs:element name="sub_enchant_material_many" type="xs:int" />
				<xs:element name="race_permitted" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
