Parser/xsd/system_messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/system_messages" xmlns:tns="http://www.example.org/system_messages" elementFormDefault="qualified">
	<xs:element name="system_messages">
	   <xs:complexType>
		  <xs:sequence>
			<xs:element name="string" type="ClientMessage" minOccurs="0" maxOccurs="unbounded"/>
		  </xs:sequence>
	   </xs:complexType>
	</xs:element>
	<xs:complexType name="ClientMessage">
	  <xs:sequence>
		<xs:element name="id" type="xs:int"/>
		<xs:element name="name" type="xs:string"/>
		<xs:element name="param" type="xs:int"/>
	  </xs:sequence>
	</xs:complexType>
	
</schema>